<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Network Operator</title>
    <link rel="icon" href="	https://www.pctstore.com/v/vspfiles/templates/261/images/template/header_bg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/styles/auth.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" th:src="@{/functions.js}"></script>

</head>
<body class="text-center">
<main class="form-login">
    <form class="align-self-center" method="POST" th:action="@{/networkOperators/create}" th:object="${networkOperator}">
        <img class="mb-2" src="https://www.pctstore.com/v/vspfiles/templates/261/images/template/header_bg.png"
             width="300" height="100">
        <br><br><br>
        <h1 class="h3 mb-3 fw-normal"><b>Add a new Network Operator </b></h1>
        <br>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" id="floatingName"
                   placeholder="Name" th:field="*{name}" required>
            <label class="input-placeholder" for="floatingName">Name</label>
        </div>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" id="floatingCountry"
                   placeholder="Country" th:field="*{country}" required>
            <label class="input-placeholder" for="floatingCountry">Country</label>
        </div><br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        <br><br><br>
        <input onclick='javascript:window.history.back()' value='Go Back'
               type='button' button class="w-50 btn btn-lg btn-primary"/>
    </form>


</main>
</body>
</html>
