<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="icon" href="	https://www.pctstore.com/v/vspfiles/templates/261/images/template/header_bg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link th:href="@{/styles/tables.css}" rel="stylesheet">
    <link th:href="@{/styles/auth.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" th:src="@{/functions.js}"></script>

</head>
<body>
<main class="align-items-center float-end">
    <p class="mb-5"></p>
    <table id="clients" class="table border-s">
        <thead class="thead-dark">
        <tr>
            <td scope="col">#</td>
            <td scope="col">Country</td>
            <td scope="col">Company</td>
            <td scope="col">Contact</td>
            <td scope="col">Operator</td>
            <td scope="col">Technology Deployed</td>
            <td scope="col">Customer of PCT</td>
            <td scope="col">Title</td>
            <td scope="col">Contacted by</td>
            <td scope="col">Phone Number</td>
            <td scope="col">Email</td>
            <td scope="col">Product Sold List</td>
            <td scope="col">Data added</td>
            <td scope="col">Actions</td>
        </tr>
        </thead>
        <tr th:each="client,stats:${clients}">
            <td th:text="${stats.index+1}">ID</td>
            <td th:text="${client.country}">Country</td>
            <td th:text="${client.company}">Company</td>
            <td th:text="${client.contact}">Contact</td>
            <td th:text="${client.operator}">Operator</td>
            <td th:text="${client.technologyDeployed}">Technology Deployed</td>
            <td th:text="${client.customerOfPCT}">Customer of PCT</td>
            <td th:text="${client.getTitle}">Title</td>
            <td th:text="${client.contactedBy}">Contacted by</td>
            <td th:text="${client.getPhoneNumber}">Phone Number</td>
            <td th:text="${client.getEmail}">Email</td>
            <td th:text="${#lists.size(client.products)}">Product Sold List</td>
            <td th:text="${client.getCreated()}">Data added</td>

            <td class="mx-2">
                <a th:href="@{/clients/{company} (company = ${client.company})} ">
                    <img class="mx-1" title="View products"
                         src="https://img.icons8.com/ios-glyphs/30/000000/view-delivery.png" height="20" width="20"></a>

                <a th:attr="onclick=|editClient('${client.id}','${client.company}')|">
                    <img class="mx-1" title="Edit client"
                         src="https://img.icons8.com/ios-glyphs/30/000000/search-client.png" height="20" width="20"
                         onmouseover="editOn(this);" onmouseout="editOff(this);"></a>

                <a th:attr="onclick=|deleteClient('${client.id}', '${client.company}')|">
                    <img class="mx-1" title="Remove client"
                         src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" height="20" width="20"
                         onmouseover="trashOn(this);"
                         onmouseout="trashOff(this);"></a>
            </td>
        </tr>
    </table>

    <form id="updateClient" th:method="post" th:action="@{/clients/update}" th:object="${updateClient}">
        <input id="updateClient-id" type="number" th:field="*{id}"/>
        <input id="country" type="text" th:field="*{country}"/>
        <input id="company" type="text" th:field="*{company}"/>
        <input id="operator" type="text" th:field="*{operator}"/>
        <input id="technologyDeployed" type="text" th:field="*{technologyDeployed}"/>
        <input id="customerOfPCT" type="text" th:field="*{customerOfPCT}"/>
        <input id="contact" type="text" th:field="*{contact}"/>
        <input id="role" type="text" th:field="*{title}"/>
        <input id="contactedBy" type="text" th:field="*{contactedBy}"/>
    </form>
    <br>

    <div class="align-self-center">
        <button class="btn btn-lg btn-primary" onclick="goTo('/')" autofocus>Go back</button>

     <!--   <input onclick='javascript:window.history.back()' value='Go Back'
               type='button' button class="btn btn-lg btn-primary"/> -->
    </div>
</main>

<script type="text/javascript">
    $(document).ready(() => $('#clients').DataTable({
        'info': false,
        'columnDefs': [{
            'targets': [3],
            'searchable': false,
            'orderable': false,
        }]
    }));


    //    function editClient(id, country, company, operator, technologyDeployed, customerOfPCT, contact, role, contactedBy) {
     function editClient(id, company) {
        swal({
            text: `Edit client '${company}'?`,
            content: {
                element: "input",
                attributes: {
                    value: company,
                    type: "text",
                }
            },
            buttons: {
                cancel: true,
                send: {
                    text: 'Edit',
                    closeModal: false,
                }
            },
        }).then(updated => {
            if (!updated) throw null;
            $('#updateClient-id').val(id);
            $('#company').val(updated);
            $('#updateClient').submit();
        });
    }


    function deleteClient(id, company) {
        swal({
            title: `Are you sure you want to delete ${company}?`,
            icon: 'warning',
            buttons: [true, 'Delete'],
            dangerMode: true,
        }).then(deleted => {
            if (deleted) goTo(`/clients/${id}/delete`)
        });
    }
</script>
</body>
</html>