<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Client Management System</title>
    <link rel="icon" href="https://i.imgur.com/khyNqXm.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link th:href="@{/styles/tables.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<aside th:include="/fragments::sidebar"></aside>
<div class="container">
    <h1>Client Management System</h1>
    <hr>
    <h2>Save Client</h2>

    <form action="#" th:action="@{/saveClient}" th:object="${client}"
          method="POST">
        <input type="text" th:field="*{country}"
               placeholder="Country" class="form-control mb-4 col-4">

        <input type="text" th:field="*{company}"
               placeholder="Company name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{operator}"
               placeholder="Operator name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{technologyDeployed}"
               placeholder="Technology deployed" class="form-control mb-4 col-4">

        <input type="text" th:field="*{customerOfPCT}"
               placeholder="Customer of PCT" class="form-control mb-4 col-4">

        <input type="text" th:field="*{contact}"
               placeholder="Contact name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{role}"
               placeholder="Role" class="form-control mb-4 col-4">

        <input type="text" th:field="*{contactedBy}"
               placeholder="Contacted by" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Client</button>
    </form>

    <hr>
    <a th:href="@{/list.html}"> Back to Client List</a>
</div>
</body>
</html>