.error {
    color: red;
}
*{
    font-family: Montserrat sans-serif google;
}

.form-login {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background:#EEEE;
}

.btn.btn-lg.btn-primary{
    background-color: red;
    color: white;
    border: red;
}

form {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #dc222f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 192, 194, 0.8);
}

.form-select:focus {
    border-color: #dc222f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 192, 194, 0.8);
}

.container .align-self-center:focus{
    border-color: #dc222f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 192, 194, 0.8);

}




